Client/src/server.wsdl

 <!--
         Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5.
        -->
        <!--
         Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5.
        -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="DRRSServerService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://Server/" schemaLocation="http://127.0.0.1:8100/auth?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createRoom">
        <part name="parameters" element="tns:createRoom"/>
    </message>
    <message name="createRoomResponse">
        <part name="parameters" element="tns:createRoomResponse"/>
    </message>
    <message name="deleteRoom">
        <part name="parameters" element="tns:deleteRoom"/>
    </message>
    <message name="deleteRoomResponse">
        <part name="parameters" element="tns:deleteRoomResponse"/>
    </message>
    <message name="bookRoom">
        <part name="parameters" element="tns:bookRoom"/>
    </message>
    <message name="bookRoomResponse">
        <part name="parameters" element="tns:bookRoomResponse"/>
    </message>
    <message name="getAvailableTimeSlot">
        <part name="parameters" element="tns:getAvailableTimeSlot"/>
    </message>
    <message name="getAvailableTimeSlotResponse">
        <part name="parameters" element="tns:getAvailableTimeSlotResponse"/>
    </message>
    <message name="cancelBooking">
        <part name="parameters" element="tns:cancelBooking"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="parameters" element="tns:cancelBookingResponse"/>
    </message>
    <message name="changeReservation">
        <part name="parameters" element="tns:changeReservation"/>
    </message>
    <message name="changeReservationResponse">
        <part name="parameters" element="tns:changeReservationResponse"/>
    </message>
    <message name="getTimeSlots">
        <part name="parameters" element="tns:getTimeSlots"/>
    </message>
    <message name="getTimeSlotsResponse">
        <part name="parameters" element="tns:getTimeSlotsResponse"/>
    </message>
    <message name="overLimit">
        <part name="parameters" element="tns:overLimit"/>
    </message>
    <message name="overLimitResponse">
        <part name="parameters" element="tns:overLimitResponse"/>
    </message>
    <message name="getDataMap">
        <part name="parameters" element="tns:getDataMap"/>
    </message>
    <message name="getDataMapResponse">
        <part name="parameters" element="tns:getDataMapResponse"/>
    </message>
    <message name="getCampusName">
        <part name="parameters" element="tns:getCampusName"/>
    </message>
    <message name="getCampusNameResponse">
        <part name="parameters" element="tns:getCampusNameResponse"/>
    </message>
    <message name="getCampusIndex">
        <part name="parameters" element="tns:getCampusIndex"/>
    </message>
    <message name="getCampusIndexResponse">
        <part name="parameters" element="tns:getCampusIndexResponse"/>
    </message>
    <portType name="DRRSServer">
        <operation name="createRoom">
            <input wsam:Action="http://Server/DRRSServer/createRoomRequest" message="tns:createRoom"/>
            <output wsam:Action="http://Server/DRRSServer/createRoomResponse" message="tns:createRoomResponse"/>
        </operation>
        <operation name="deleteRoom">
            <input wsam:Action="http://Server/DRRSServer/deleteRoomRequest" message="tns:deleteRoom"/>
            <output wsam:Action="http://Server/DRRSServer/deleteRoomResponse" message="tns:deleteRoomResponse"/>
        </operation>
        <operation name="bookRoom">
            <input wsam:Action="http://Server/DRRSServer/bookRoomRequest" message="tns:bookRoom"/>
            <output wsam:Action="http://Server/DRRSServer/bookRoomResponse" message="tns:bookRoomResponse"/>
        </operation>
        <operation name="getAvailableTimeSlot">
            <input wsam:Action="http://Server/DRRSServer/getAvailableTimeSlotRequest" message="tns:getAvailableTimeSlot"/>
            <output wsam:Action="http://Server/DRRSServer/getAvailableTimeSlotResponse" message="tns:getAvailableTimeSlotResponse"/>
        </operation>
        <operation name="cancelBooking">
            <input wsam:Action="http://Server/DRRSServer/cancelBookingRequest" message="tns:cancelBooking"/>
            <output wsam:Action="http://Server/DRRSServer/cancelBookingResponse" message="tns:cancelBookingResponse"/>
        </operation>
        <operation name="changeReservation">
            <input wsam:Action="http://Server/DRRSServer/changeReservationRequest" message="tns:changeReservation"/>
            <output wsam:Action="http://Server/DRRSServer/changeReservationResponse" message="tns:changeReservationResponse"/>
        </operation>
        <operation name="getTimeSlots">
            <input wsam:Action="http://Server/DRRSServer/getTimeSlotsRequest" message="tns:getTimeSlots"/>
            <output wsam:Action="http://Server/DRRSServer/getTimeSlotsResponse" message="tns:getTimeSlotsResponse"/>
        </operation>
        <operation name="overLimit">
            <input wsam:Action="http://Server/DRRSServer/overLimitRequest" message="tns:overLimit"/>
            <output wsam:Action="http://Server/DRRSServer/overLimitResponse" message="tns:overLimitResponse"/>
        </operation>
        <operation name="getDataMap">
            <input wsam:Action="http://Server/DRRSServer/getDataMapRequest" message="tns:getDataMap"/>
            <output wsam:Action="http://Server/DRRSServer/getDataMapResponse" message="tns:getDataMapResponse"/>
        </operation>
        <operation name="getCampusName">
            <input wsam:Action="http://Server/DRRSServer/getCampusNameRequest" message="tns:getCampusName"/>
            <output wsam:Action="http://Server/DRRSServer/getCampusNameResponse" message="tns:getCampusNameResponse"/>
        </operation>
        <operation name="getCampusIndex">
            <input wsam:Action="http://Server/DRRSServer/getCampusIndexRequest" message="tns:getCampusIndex"/>
            <output wsam:Action="http://Server/DRRSServer/getCampusIndexResponse" message="tns:getCampusIndexResponse"/>
        </operation>
    </portType>
    <binding name="DRRSServerPortBinding" type="tns:DRRSServer">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="createRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="changeReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getTimeSlots">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="overLimit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDataMap">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCampusName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCampusIndex">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DRRSServerService">
        <port name="DRRSServerPort" binding="tns:DRRSServerPortBinding">
            <soap:address location="http://127.0.0.1:8100/auth"/>
        </port>
    </service>
</definitions>